.details {
  padding: 20px;
  border-radius: 8px;
  width: 526px;
  height: 310px;
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.headerTwo {
  padding-right: 20px;
  font-size: 24px;
}


.favoriteButton {
  background: none;
  border: none;
  cursor: pointer;
}

.favoriteButton > .svg {
  fill: #fff;
  stroke: #000;
}

.favoriteButton.active > .svg {
  fill: #ff0000; 
  stroke:none;
}

.ratings {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.reviewRank {
  margin-right: 30px;
  margin-left: 5px;
}

.svgStar {
  fill: #ffd700; 
  margin-right: 5px;
}

.svgPointer {
  fill: #3cb371; 
  margin-right: 5px;
}

.location {
  font-style: italic;
}

.description {
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 24px;
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}