.wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.leftLink {
  display: block;
  position: absolute;
  width: 30px;
  right: -55px;
  line-height: 0;
}

.iconWrapper::before,
.iconWrapper::after,
.leftLink::before,
.leftLink::after {
  display: none;
}