.wrapper {
  max-width: 888px;
  padding: 24px;
  margin-bottom: 32px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.15s ease-out;
}

.contentWrapper {
  display: flex;
}

.showMore {
  align-self: center;
  border-radius: 200px;
  padding: 16px 40px;
  height: 56px;
  background: #e44848;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  cursor: pointer;
}


.wrapper:hover,
.wrapper:focus {
  box-shadow: 9px 11px 23px -11px rgba(0, 0, 0, 0.18);
}

.wrapper.favorites {
  width: 1118px;
}


.showMore:hover,
.showMore:focus {
  background: #d84343;
}
.showMore:active {
  transform: scale(0.975);
}

.showMore.favoritesShowMore {
  left: 566px;
}
