.container {
  flex-wrap: wrap;
  width: 430px;
  height: 530px;
  margin-right: 24px;
}
.title {
  display: block;
  line-height: normal;
  margin-top: 12px;
  margin-bottom: 18px;
}

.list {
  border-top: 1px solid rgba(16, 24, 40, 0.2);
  padding-top: 24px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItem:not(:last-child) {
  margin-bottom: 14px;
}

.listItemText {
  display: inline-block;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}
