.image {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.image.favorite {
  width: 500px;
}

.noScroll {
  overflow: hidden;
  padding-right: 15px;
}

.image.reviews {
  width: 800px;
  height: auto;
}
